/* ## Home */
.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0px 5%;
  text-align: center;
}

.home h1 {
  font-size: 50px;
}

.home p {
  font-size: 18px;
}

.home .cta button {
  padding: 15px 35px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  margin: 5px 10px;
  font-size: 18px;
  transition: 0.5s;
}

.home .cta :first-child {
  background-color: dodgerblue;
  color: white;
}

.home .cta :last-child {
  background-color: #000;
  color: #fff;
}

.home .cta :hover {
  opacity: 0.7;
  transform: scale(1.1);
}

/* ## Quiz */

.quiz {
  padding: 20px 10%;
}

.quiz main ul {
  margin: 20px 0;
}

.quiz main ul li {
  list-style: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.quiz main li.selected {
  border-color: mediumseagreen;
  color: mediumseagreen;
}
